*{  margin: 0%;
    box-sizing: border-box;  
    
  
   
}
body{
    background-color: #081b29;
    color: #ededed;

    
    
   
}
.header{
    position: fixed;
    width: 95%;
    padding: 30px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
   

}
.logo{
    color: #ffffff;
    text-decoration: none;
    font-size: 30px;
    font-weight: 500;
}
.logo:hover{
    color: #00abf0;
}
.links a{
    text-decoration: none;
    font-size: 18px;
    color: #ffffff;
    font-weight: 400;
    margin-left: 50px;
    transition: .2s;

}
.links a:hover,.links a.active{
    color: #00abf0;
} 
.home{
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 20px 5%;
    flex-wrap: wrap;
   

}

.hello{
    color: #00abf0;
    margin:3px 0;
}
.content h1{
    font-size: 35px;
    margin:3px 0;
    
}
.content p{
    font-size: 30px;
    margin:3px 0;
}
.content h2{
    font-size: 30px;
    color: #00abf0;
    margin:3px 0;
}

.n:hover{
    background-color:#00abf0;
    color:#081b29;
    border-color:#081b29 ;
    border-radius: 8px;
    width: 70px;
    height: 30px;
    transition: 0.5s;
}
.medai{
    position: absolute;
    bottom: 50px;
}
.medai a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 50px;
    text-decoration: none;
    border:2px solid #00abf0;
    border-radius: 50%;
    font-size: 30px;
    color: #00abf0;
}
.medai a:hover{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 50px;
    text-decoration: none;
    border:2px solid #081b29;
    background-color: #00abf0;
    border-radius: 50%;
    font-size: 30px;
    color:#081b29;
    transition-duration: 1.2s;
}
img{
    position: absolute;
    right: 100px;
    top: 160px;
    border:2px solid #00abf0;
    border-radius: 50%;
    display: flex;
    flex-wrap: wrap;
}
.fo{
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
}
.co{
    display: flex;
    flex-direction: column;
    font-size: 30px;
    gap: 20px;

   
}
.na{ 
   display: inline;
   color: #00abf0;

}
.em{
    display: inline;
    color: #00abf0;

}
.sk{
    display: flex;
    flex-direction: column;
    font-size: 30px;
    gap: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

} 
.P,.H,.J{
    color: #00abf0;
}
@media (max-width:500px){
    img{
    width: 200px;
    height: 150px;
   }
  .logo{
    font-size: 20px;
  }
  .links{
    font-size: 7px;
}
  .co{
    font-size: 20px;
  }
  .fo{
    font-size: 15px;
    max-width: 400px;
  }
     .links a{
    margin:10px;
    
}
}

